# dependencies
node_modules/
.pnpm-store/

# next / build
.next/
out/
dist/
.cache/
.turbo/
coverage/

# contentlayer
.contentlayer/

# env & local
.env*
!.env.example
.vercel/
.DS_Store
.vercel

# build info & generated sitemap
tsconfig.tsbuildinfo
public/sitemap*.xml
